<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <th:block th:include="fragments/fragments.html :: head"></th:block>

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/preOrder.css}">

    <script type="text/javascript" th:src="@{/static/js/menu.js}"></script>



    <meta charset="UTF-8">
    <title>Предзаказ</title>



</head>
<body>
<div th:replace="fragments/fragments.html :: topMenu"></div>

<div th:replace="fragments/fragments.html :: side"></div>

<div class="center">
    <div class="children">
        <h5 class="top-text">Привязка</h5>
        <br>
        <table class="table table-hover text-light table-text" >
            <tr>
                <th>Время от</th>
                <th>Время до</th>
                <th>Номер столика</th>
                <th>Количество человек</th>
                <th>Привязать</th>
            </tr>
            <tr th:each="reserve : ${reserves}">
                <td th:text="${reserve.startDate}"></td>
                <td th:text="${reserve.finishDate}"></td>
                <td th:text="${reserve.tableNumber}"></td>
                <td th:text="${reserve.numberOfPeople}"></td>
                <td >
                    <a th:href="@{/reservation/ordering/} + ${reserve.reservedId}" class="navbar-brand delete">Привязать</a>
                    <!--<a th:href="@{/reservation/} + ${reserve.reservedId}" class="navbar-brand delete"></a>-->
                    <!--<a th:href="@{/}" class="navbar-brand">Предзаказ</a>-->
                    <!--<a th:href="@{/restaurant/} + ${reserve.reservedId} + '/order'" class="navbar-brand">Предзаказ</a>-->
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>