<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/fragments.html :: head"></th:block>

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/userSettings.css}">

    <meta charset="UTF-8">
    <title>Настройки пользователя</title>
</head>
<body>
    <div th:replace="fragments/fragments.html :: topMenu"></div>

    <div th:replace="fragments/fragments.html :: side"></div>



    <div class="center">
        <div class="children">
            <h5 class="top-text">Профиль</h5>
            <br>
            <table class="table table-hover text-light table-text" >
                <tr>
                    <td style="width:40%">Имя</td>
                    <td th:text="${user.firstName}" ></td>
                </tr>
                <tr>
                    <td>Отчество</td>
                    <td th:text="${user.middleName}"></td>
                </tr>
                <tr>
                    <td>Фамилия</td>
                    <td th:text="${user.lastName}"></td>
                </tr>
                <tr>
                    <td>Телефон</td>
                    <td th:text="${user.userSettings.phone}"></td>
                </tr>
                <tr>
                    <td>Адрес</td>
                    <td th:text="${user.userSettings.address}"></td>
                </tr>
                <tr>
                    <td>Логин</td>
                    <td th:text="${user.login}"></td>
                </tr>
            </table>
            <div class="spacing30"></div>
            <form action="#" th:action="@{/main/settings-change}" method="get">
                <button type="submit" class="btn btn-outline-secondary width100">Редактировать данные</button>
            </form>
            <form action="#" th:action="@{/main/password-change}" method="get">
                <button type="submit" class="btn btn-outline-secondary width100">Изменить пароль</button>
            </form>
        </div>
    </div>


</body>
</html>