<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/userSettingsChange.css}">

    <th:block th:include="fragments/fragments.html :: head"></th:block>

    <meta charset="UTF-8">
    <title>Настройки пользователя</title>
</head>
<body>
    <div th:replace="fragments/fragments.html :: topMenu"></div>

    <div th:replace="fragments/fragments.html :: side"></div>



    <div class="center">
        <div class="children">
            <h5 class="top-text">Изменить пароль</h5>
            <br>
            <form action="#" th:action="@{/main/password-change-post}" method="post">
                <div>
                    <label for="oldPassword">Введите старый пароль:</label>
                    <input type="password" id="oldPassword" name="oldPassword" th:class="${notDifferent1 != null || notDifferent2 != null || wrongPassword != null} ? 'width100 form-control is-invalid' : 'width100 form-control'">
                    <div class="invalid-feedback " th:if="${notDifferent1 != null || notDifferent2 != null}" th:text="${notDifferent1}"></div>
                    <div class="invalid-feedback " th:if="${wrongPassword != null}" th:text="${wrongPassword}"></div>
                </div>
                <div class="spacing15"></div>
                <div>
                    <label for="newPassword1">Введите новый пароль:</label>
                    <input type="password" id="newPassword1" name="newPassword1" th:class="${notDifferent1 != null || differentNewPassword != null || shortPassword != null} ? 'width100 form-control is-invalid' : 'width100 form-control'">
                    <div class="invalid-feedback" th:if="${notDifferent1 != null}" th:text="${notDifferent1}"></div>
                    <div class="invalid-feedback" th:if="${differentNewPassword != null}" th:text="${differentNewPassword}"></div>
                    <div class="invalid-feedback" th:if="${shortPassword != null}" th:text="${shortPassword}"></div>
                </div>
                <div class="spacing15"></div>
                <div>
                    <label for="newPassword2">Повторите новый пароль:</label>
                    <input type="password" id="newPassword2" name="newPassword2" th:class="${notDifferent2 != null || differentNewPassword != null || shortPassword != null} ? 'width100 form-control is-invalid' : 'width100 form-control'">
                    <div class="invalid-feedback" th:if="${notDifferent2 != null}" th:text="${notDifferent2}"></div>
                    <div class="invalid-feedback" th:if="${differentNewPassword != null}" th:text="${differentNewPassword}"></div>
                    <div class="invalid-feedback" th:if="${shortPassword != null}" th:text="${shortPassword}"></div>

                </div>
                <div class="spacing30"></div>
                <div>
                    <button type="submit" class="btn btn-outline-secondary width100">Сохранить</button>
                </div>

            </form>

        </div>

    </div>


</body>
</html>