.navbar {
    padding: 0.5rem 1rem;
}

.margin20 {
    margin-right: 20px
}

.position {
    position: fixed;
}

.category-wrap {
    /*margin-top: 55px;*/
    padding: 15px;
    font-weight: 600;
    background: #697a8ab8 ;
    position: fixed;
    width: 203px;
    height: calc(100% - 54px);
    box-shadow: 2px 2px 8px rgba(0,0,0,.1);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.category-wrap ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.category-wrap li {
    margin: 12px 0 0 0px;
}
.category-wrap a {
    text-decoration: none;
    display: block;
    letter-spacing: 1px;
    font-size: 12px;
    color: #18BC9C;
    padding: 5px;
    position: relative;
    transition: .3s linear;
    text-transform: uppercase;
}
.category-wrap a:after {
    font-family: FontAwesome;
    position: absolute;
    right: 5px;
    color: white;
    transition: .2s linear;
}
.category-wrap a:hover {
    /*background: #80C8A0;*/
    /*background: #18bc9c94;*/
    background: #18bc9c94;
    color: white;
}

.min-height {
    min-height: 55px;
}


